<h1>Список менеджеров</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.email %></td>
        <td><%= link_to 'Показать', manager %></td>
        <td><%= link_to 'Редактировать', edit_manager_path(manager) %></td>
        <td><%= link_to 'Удалить', manager, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый менеджер', new_manager_path %>
