<div id="wrapper_form_for_order">
<%= form_for(@order, remote: true) do |f| %>

    <div id="errors_show"></div>
    <% if @order.errors.any? %>
        <%= render 'errors' %>     
    <% end %>

  
    <div class="field">    
        <%= f.label :quantity, "Количество" %>
        <div id="slider_min_value"></div>       
        <div id="slider_max_value"></div>
        <div class="clear"></div>
        <div id="slider-range-min"></div>
        <%= f.text_field :quantity, readonly: true , id: "amount" %>
    </div>

    <table>

        <tr>
            <td><%= f.label :name, "Ваше имя:" %></td>
            <td><%= f.text_field :name %></td>
        </tr>

        <tr>
            <td><%= f.label :phone, "Телефон: +7" %></td>
            <td><%= f.text_field :phone %></td>
        </tr>

        <tr>
            <td><%= f.label :email, "Email:"  %></td>
            <td><%= f.text_field :email %></td>
        </tr> 

        <tr>
            <td><%= f.label :address, "Адрес:" %></td>
            <td><%= f.text_field :address %></td>
        </tr>

    </table>

    <div class="actions">
        <%= f.submit "Отправить", id: "bt_make_the_order" %>
    </div>
    
    <div id="waiting" style="display: none;">
        <%= image_tag("waiting.gif", size: "70x70") %>
    </div>

<% end %>
</div>