<h1>Все созданные заявки:</h1>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Email</th>
      <th>Адрес</th>
      <th>Количество</th>
      <th>Статус</th>
      <th>Статус(название)</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.phone %></td>
        <td><%= order.email %></td>
        <td><%= order.address %></td>
        <td><%= order.quantity %></td>
        <td><%= order.status %></td>
        <td><%= order.status_name() %></td>
        <!--<td><%= link_to 'Показать', order %></td>-->
        <!--<td><%= link_to 'Редактировать', edit_order_path(order) %></td>-->
        <td><%= link_to 'Закрыть', order_path(order, close_order: true), method: :patch, data: { confirm: "Перевести заявку в статус 'закрыта'?" } %></td>   
        <td><%= link_to 'Удалить', order, method: :delete, data: { confirm: "Удалить заявку?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый заказ', new_order_path %>
