<!DOCTYPE html>
<html>
<head>
  <title>TestForRaiz</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to root_url do %>
	<div id="link_root">
		На главную
	</div>
<% end %>

<div id="yield">
	<%= yield %>	
</div>

</body>
</html>
